/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
/*******************************************
* 3.2.2. Content
*******************************************/
/* HP blocks: Slideshow */
#block-views-demo-content-slideshow-block-1 {
  .event-slider .views-field-nothing,
  .view-display-id-block_1 .bx-prev,
  .view-display-id-block_1 .bx-next {
    border: 0;
    width: 320px;
  }
  .event-slider .views-field-nothing {
    background: transparent url('../images/bg_title_slideshow_current.png') left top no-repeat;
    left: 32.5%; /* LTR */
  }
  .bx-prev,
  .bx-prev:hover {
    background: transparent url('../images/bg_title_slideshow_previous.png') left top no-repeat; /* LTR */
  }
  .bx-next,
  .bx-next:hover {
    background: transparent url('../images/bg_title_slideshow_next.png') left top no-repeat; /* LTR */
    margin-right: 5px; /* LTR */
  }
}

/**************************************************
* --
* 4. Section footer
* --
**************************************************/
/**********************************************
* 4.1. Zone footer
**********************************************/
/**
* Connect with us
*/
#block-menu-menu-social-connection h2 {
  background: url('../images/bg_block_footer_title.png') left top no-repeat; /* LTR */
  color: #eeeeee;
}

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
div.messages.commerce-add-to-cart-confirmation .message-inner {
  .button-wrapper {
    float: none;
    min-height: 210px;
    height: 100%;
    position: absolute;
    right: 0; /* LTR */
  }
  .view-confirm-message-product-display {
    float: left; /* LTR */
    .view-content {
      //margin-left: 130px; /* LTR */
      padding-bottom: 20px;
    }
  }
}

.section-footer {
  .block-menu-footer-navigation {
    li.expanded {
      text-align: initial;
      width: 25%;
      span {
        font-size: initial;
      }
      ul.menu {
        text-align: initial;
      }
    }
  }
}

#region-branding {
  .branding-data {
    .logo-img {
      width: 50%;
    }
  }
}

#block-menu-menu-main-navigation {
  display: block;
}

#block-tb-megamenu-menu-main-navigation {
  display: none;
}
#block-menu-menu-user-menu {
  float: initial;
}

#block-views-exp-display-products-page {
  .views-exposed-widgets {
    float: right;
    margin-right: 10px;
    .views-submit-button {
      right: -36px;
    }
  }
}

.page-products {
  .view-display-products {
    li.views-row {
      float: left;
      width: 335px;
      //padding: 20px;
      padding-right: initial;
      clear: none;
      &:nth-child(3n), & {
        margin-right: 23px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}
