@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);

/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */

/* Include Default Variables & Mixins */
@import "_variables.scss";
@import "_mixins.scss";
/* End Variables & Mixins */

/*------------------------------------------------
[Table of contents]
0. Reset
1. Global
  1.1. Zones
  1.2. Regions
2. Section header
  2.1. Zone user
    2.1.1. Region user first
    2.1.2. Region user second
  2.2. Zone branding
  2.3. Zone menu
  2.4. Zone header
3. Section content
  3.1. Zone preface
  3.2. Zone content
    3.2.1. Sidebar first
    3.2.2. Content
    3.2.3. Sidebar second
  3.3. Zone postscript
4. Section footer
  4.1. Zone footer
  4.2. Zone footer2
5. Commerce specific
  5.1. Search & Collection page
  5.2. All products page
  5.3. Product page
  5.4. Checkout process
6. Kickstart specific
  6.1. Homepage elements
7. Blog
  7.1. Blog comments
8. User account
------------------------------------------------*/

/**************************************************
* --
* 1. Global
* --
**************************************************/
body {
  background: #ececec url('../images/bg.png') left top;
}
.responsive-layout-mobile {
  .facetapi-lists {
    display: none;
  }
  .selectnav {
    display: block;
  }
}
/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
.zone-user-wrapper {
  background-color: #8e8e8e;
}
/*******************************************
* 2.1.1. Region user first
*******************************************/
/* User menu */
.block-menu-user-menu .content ul.menu li {
  &.first {
    border-right: 1px solid #ffffff; /* LTR */
    padding-right: 7px; /* LTR */
  }
  &.last {
    padding-left: 7px; /* LTR */
  }
  a.active {
    background-color: #cecece;
    color: #000;
    text-decoration: none;
  }
  a.active:hover,
  a:hover {
    background-color: #717171;
    text-decoration: none;
  }
}
/*******************************************
* 2.1.2. Region user second
*******************************************/
/**
* Cart block
*/
.block-shopping-cart-block .content {
  background-color: #ffffff;
  background-image: url('../images/picto_cart.png');

  .view-shopping-cart .line-item-summary ul.links {
    background-color: #2698F2;
  }
}
/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.1. Zone preface
**********************************************/
/**
* Pseudo Breadcrumb
*/
#region-breadcrumb .pseudo-breadcrumb li a {
  background: url('../images/btn_close.png') left center no-repeat; /* LTR */
}
/**********************************************
* 3.2. Zone content
**********************************************/
.zone-content-wrapper .zone-content {
  background-color: #FFFFFF;
}
.front .zone-content-wrapper .zone-content {
  padding-top: 0;
}
/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Search api facet blocks */
.region-sidebar-first .block-facetapi {
  ul {
    li  {
      a {
        &.facetapi-inactive {
          padding-left: 0px; /* LTR */
        }
      }
    }
  }
}
/*******************************************
* 3.2.2. Content
*******************************************/
/**
* Blocks
*/
#promotional_banner {
/* HP blocks: Top advert */
  background-color: #2698F2;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 5px 10px 20px 10px;
  position: relative;
  top: 0;
  .promotional_banner_saving {
    display: block;
    font-size: 28px;
    font-weight: 900;
    line-height: 38px;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
  }
  .promotional_banner_special_offer {
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    @include rounded-corners(4px);
    color: #2698F2;
    font-size: 14px;
    font-weight: 700;
    padding: 4px 12px;
    position: absolute;
    top: 10px;
    right: 10px; /* LTR */
    text-transform: capitalize;
  }
}
.block-shipping-discount {
/* HP blocks: Side advert */
  #shipping {
    background-color: #000000;
    border: 6px solid #ffffff;
    color: #2698F2;
    display: block;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
    padding: 10px 5px 20px 5px;
  }

  #shipping #shipping_message span {
    border-bottom: 1px solid #ffffff;
    display: block;
    color: $color2;
    font-size: 20px;
    padding: 10px 0 4px 0;
    text-transform: uppercase;
  }
  #shipping #shipping_message span em {
    font-size: 27px;
    font-style: normal;
  }
  #shipping #shipping_currency {
    display: block;
    font-size: 27px;
    margin-top: 2px;
  }
  #shipping #shipping_message {
    font-family: $headerfont;
    font-weight: 400;
  }
  #shipping #shipping_message span,
  #shipping #shipping_message span em,
  #shipping #shipping_currency {
    font-family: $headerfont;
    font-weight: 700;
  }
}

#zone-postscript {
  .view-ad-push .views-row .views-field-field-tagline,
  .block-blog-block .views-field-title {
    .field-content {
      border: 1px solid #5f5f5f;
      background: transparent url('../images/bg_ad_push_headline.png') left top;
      a {
        background: none;
        &:hover {
          background: transparent url('../images/bg_blog_headline.png') left top;
        }
      }
    }
  }
  .view-ad-push .views-row:hover .views-field-field-tagline,
  .block-blog-block:hover .views-field-title {
    .field-content {
      a {
          background: transparent url('../images/bg_blog_headline.png') left top;
        }
    }
  }
}
/**************************************************
* --
* 4. Section footer
* --
**************************************************/
.section-footer {
  background-color: #3f3f3f;
}
/**********************************************
* 4.1. Zone footer
**********************************************/
.zone-footer-wrapper {
  background-color: #494949;
}
/**
* Menu footer navigation
*/
.section-footer ul.menu li.expanded {
  span,
  a {
    color: #ffffff;
  }
  ul.menu li a {
    color: #c1c1c1;
  }
}

/**
* Connect with us
*/
#block-menu-menu-social-connection {
  h2 {
    background-color: #262626;
    color: #eeeeee;
  }
  .content ul.menu li {
    color: #eeeeee;
    &:hover {
      background-color: #cecece;
      @include rounded-corners(4px);
    }
    span,
    a {
      color: #eeeeee;
    }

    a.facebook {
      background: url('../images/icon_facebook.png') 2% 50% no-repeat; /* LTR */
    }
    a.twitter {
      background: url('../images/icon_twitter.png') 2% 50% no-repeat; /* LTR */
    }
    a.pinterest {
      background: url('../images/icon_pinterest.png') 2% 50% no-repeat; /* LTR */
    }
  }
}
/**********************************************
* 4.2. Zone footer2
**********************************************/
.zone-footer2-wrapper {
  background-color: #3f3f3f;
  color: #eeeeee;
}
/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
.view-collection-taxonomy-term .products-per-collection li header,
.page-products .view-display-products li header {
  background: url('../images/bg_product_attributes_top.png') center top no-repeat;
}
.view-collection-taxonomy-term .view-content .item-list {
  clear: both;

  h3 {
    position: relative;

    span {
      display: block;
      position: absolute;
      top: 0px;
    }
    .collection {
      background: url("../images/bg.png") repeat scroll left top #ECECEC;
      font-size: 0.8em;
      padding: 0 0 4px;
      text-transform: uppercase;

      a {
        background-color: #FFFFFF;
        color: #B8B8B8;
        display: block;
        padding: 5px;
      }
    }
  }
  .products-per-collection li.views-row {
    display: inline;
    height: auto;
    margin: 0;
    padding-right: 5px; /* LTR */
    padding-bottom: 30px;
    width: 230px;
    &:nth-child(4n+5) {
      clear: left; /* LTR */
      float: left; /* LTR */
    }
    h2 {
      font-size: 14px;
      height: 35px;
      line-height: 16px;
      margin: 0 4px;
    }
  }
}
/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
div.messages.commerce-add-to-cart-confirmation {
  background-color: #d6e5ec;
  border-color: #6bb0cb;

  .message-inner {
    .added-product-title {
      color: #2698f2;
    }
    .button-wrapper .button {
      &.checkout {
        background-color: #2698F2;
      }
      &.continue {
        background-color: #b3b3b3;
      }
    }
    .commerce-add-to-cart-confirmation-close {
      background: url('../images/btn_add-to-cart-close.png') no-repeat 0 0;
    }
    .view-confirm-message-product-display {
      .view-content {
        margin-left: inherit;
      }
    }
  }
}

/**************************************************
* --
* 8. Comments
* --
**************************************************/
.node-teaser .links.node-links .links {
  .node-readmore a {
    background: transparent url('../images/icon_read-more.png') 95% center no-repeat;
    color: #4386be;
    padding-right: 15px; /* LTR */
  }
  .comment-comments a {
    background: transparent url('../images/icon_chat.png') 15% center no-repeat;
    padding-left: 20px; /* LTR */

    span {
      display: block;
      float: left; /* LTR */
      text-indent: -9999px;
    }
  }
}
/**************************************************
* --
* 9. User account
* --
**************************************************/
.not-logged-in #block-connector-one-click-block {
  #edit-oauthconnector-facebook {
    background:url('../images/btn_facebook.png') no-repeat;
  }
  #edit-oauthconnector-twitter {
    background:url('../images/btn_twitter.png') no-repeat;
  }
  #edit-oauthconnector-google {
    background:url('../images/btn_google.png') no-repeat;
  }
}

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.block-block-8 {
  float: left;
  font-weight: bold;
  margin: -5px 11px 0 11px;
  font-size: 18px;
  background: #ff6300;
  padding: 10px 10px 0 10px;
  border-radius: 2px 2px 0 0;
    a {
      color: #fff;
    }
}

html {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

//.front, .node-type-product-display, .page-cart, .page-checkout {
//  .zone-preface-wrapper {
//    display: none;
//  }
//}

.zone-preface2-wrapper {
  h1#page-title {
    margin: 10px;
    color: #fff;
  }
}

.region-sidebar-first {
  .block-facetapi {
    border-top: 5px solid #ff6300;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;

    h2.block-title {
      font-weight: normal;
    }

    ul li a{
      color: #000;
      font-weight: normal;
    }

    .item-list .item-list {
      margin-left: 20px;
    }
  }
}

.region-sidebar-first {
	.block-facetapi {
		.item-list {
			ul li.expanded {
				a {
					//font-weight: bold;
					//color: #ff6300;
				}
			}

			ul li.leaf {
				a {
					//font-weight: normal;
					//color: #000;
				}
			}
		}
	}
}


.page-products {
  .view-display-products {
    .item-list {
      .last {
        clear: inherit;
        float: inherit;
      }
    }
    li.views-row {
      width: 100%;
      border: 1px solid #eaeaea;
      padding-right: 0;
      margin-bottom: 20px;

      article {
        width:230px;
        margin: 0 auto;
        position: relative;
        height: 460px;

        header {
          background: none;
        }

        .field-field-images {
          margin-bottom: 0;
        }

        h2.field-name-title-field {
          text-transform: uppercase;
          font-weight: normal;
          margin: 0 auto;
        }

        .field-name-commerce-price {
          color: #ff6300;
          font-weight: bold;
          margin-bottom: 0;
        }

	.field-name-field-special-pricing {
		.field-label {
			display: none !important;
		}
		.field-items a {
			color: #fff;
			background-color: #ff6300;
			padding: 10px 25px;
			text-transform: lowercase;
			font-size: 20px;
		}
	}

        .field-name-field-product {
          margin-bottom: 0;
          padding-bottom: 0;
          position: absolute;
          bottom: -10px;
          width: 100%;

          form.commerce-add-to-cart {
            padding-top: 0;
            background: none;

            select.form-select {
              width: 100% !important;
            }

            .attribute-widgets {
              label {
                display: none;
              }
            }

            input.form-submit {
              background: #000;
              width: 100%;
              border-radius: 0;
              text-align: center;
              padding: 5px 0;
              text-transform: lowercase;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

#block-block-7 {
  background: #353535;
  padding: 10px 20px;
  .socialmedia-information {
    .facebook {
      background-image: url("../images/facebook.png");
      text-indent: -9999px;
      height: 44px;
      width: 39px;
      background-repeat: no-repeat;
      float: left;
    }
    .twitter {
      background-image: url("../images/twitter.png");
      text-indent: -9999px;
      height: 44px;
      width: 39px;
      background-repeat: no-repeat;
      float: left;
    }
    .youtube {
      background-image: url("../images/youtube.png");
      text-indent: -9999px;
      height: 44px;
      width: 39px;
      background-repeat: no-repeat;
      float: left;
    }
    .googleplus {
      background-image: url("../images/googleplus.png");
      text-indent: -9999px;
      height: 39px;
      width: 39px;
      background-repeat: no-repeat;
      float: left;
    }
  }
  .email-info {
    margin-bottom: 20px;
    h1.contact-subtitle {
      color: #ff6300;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 0;
    }
    .contact-information {
      padding: 0 0 0 1px;
      color: #fff;
      a {
        color: #fff;
        font-size: 13px;
      }
    }
  }
  .phone-info, .fax-info, .address-info, .socialmedia-info {
    margin-bottom: 20px;
    h1.contact-subtitle {
      color: #ff6300;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 0;
    }
    .contact-information {
      padding: 0 0 0 1px;
      color: #fff;
      font-size: 13px;
    }
  }
}

.logged-in {
  .zone-menu {
    .block-menu {
      li.last {
        display: none;
      }
    }
  }
}

#block-menu-menu-main-navigation {
  display: none;
}

#block-tb-megamenu-menu-main-navigation {
  display: block;
  button {
    background-image: url("../images/menu-button.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    i::before {
      display: none;
    }
  }
  .tb-megamenu-nav {
    li{
      a {
        border: none;
        text-align: center;
      }
      a:hover {
        color: #ff6300;
      }
      &.active {
        a {
          background-color: #ff6300;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

.zone-menu {
  .block-menu {
    margin: 0 0 15px 0;
    float: right;
      ul.menu {
        li.leaf {
          a.active, a:hover {
            border: none;
            background: #0065ff;
            border-bottom: 5px solid #2d2d2d;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            padding: 10px;
            font-weight: 300;
          }
          a {
            background-color: transparent;
            border: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            padding: 10px;
            font-weight: 300;
            }
          }
          li.first, li.last {
            a {
              border-left: none !important;
              border-right: none !important;
              border: none;
            }
            a.active, a:hover {
              border: none;
              background: #ff6300;
              border-bottom: 5px solid #2d2d2d;
              color: #fff;
            }
          }
        }
      }
    }

/* .zone-menu {
  .second-menu {
    ul {
      li.first {
        a {
          border-left: none !important;
        }
      }
      li.last {
        a {
          border-right: none !important;
        }
      }
      li {
        a {
          border: none;
        }
      }
      li {
        a.active, a.hover {
        color: #000 !important;
        background-color: transparent !important;
        border-top: none !important;
        border-bottom: none !important;
      }
    }
    }
  }
}
*/

/*.zone-preface-wrapper {
  background-image: url("/sites/pharmacycleanroomsupply.com/themes/pharmacycleanroomsupply/images/default-header-image.jpg");
  height: 160px;
  width: 100%;
  background-repeat: no-repeat;
    .zone-preface {
      background: transparent;
    }
}*/

.zone-preface2-wrapper {
  background: rgba(0, 0, 0, 0.52);
}

.zone-header {
  width: 100% !important;
  position: relative;

  .region-header-first {
    margin: 0;
    position: absolute;
    background: rgba(255,255,255,0.83);
    width: auto !important;
    height: 100%;
    padding: 0 30px 0 70px;
    border-right: #ff6300 5px solid;
    display: block;

    h2.block-title {
      color: #ff6300;
      font-weight: normal;
      border-bottom: 4px solid #ABABAB;
      padding-top: 25px;
      padding-bottom: 8px;
    }
    .views-row {
      padding: 10px 0 0 0;
    }
  }

  .region-header-second {
    width: 100% !important;
    z-index: -9999;
    margin: 0 auto;
  }
}

.zone-user-wrapper {
  z-index: 200 !important;
  background: #f3f3f3;
  .top-address-icon {
    background-image: url("../images/address-icon.png");
    text-indent: -9999px;
    height: 44px;
    width: 30px;
    background-repeat: no-repeat;
    float: left;
    margin: 3px 0 0 0;
  }
  .top-phone-wrapper {
    background: #2d2d2d;
    color: #fff;
    float: left;
    .top-phone-icon {
      background-image: url("../images/phone-icon.png");
      text-indent: -9999px;
      height: 31px;
      width: 26px;
      background-repeat: no-repeat;
      float: left;
      margin: 3px 0 0 10px;
    }
  }
}


.region-user-first {
    .block-1 {
      float:left;
      .top-address, .top-phone {
        float:left;
        margin: 8px 10px 0 0;
        font-size: 10px;
      }
    }
}

.section-footer {
  margin: 30px 0 0 0;
  .block-menu-footer-navigation {
    li.expanded {
      text-align: center;
      width: 25%;
      padding: 0;
      width: 100%;
      ul.menu {
        text-align: center;
      }
      span {
        background: #ff6300;
        padding: 10px;
        font-size: 20px;
      }
    }
  }
  .zone-footer2-wrapper {
    .block {
      .facebook {
        background-image: url("../images/facebook.png");
        text-indent: -9999px;
        height: 44px;
        width: 39px;
        background-repeat: no-repeat;
        float: left;
      }
      .twitter {
        background-image: url("../images/twitter.png");
        text-indent: -9999px;
        height: 44px;
        width: 39px;
        background-repeat: no-repeat;
        float: left;
      }
      .youtube {
        background-image: url("../images/youtube.png");
        text-indent: -9999px;
        height: 44px;
        width: 39px;
        background-repeat: no-repeat;
        float: left;
      }
      .googleplus {
        background-image: url("../images/googleplus.png");
        text-indent: -9999px;
        height: 39px;
        width: 39px;
        background-repeat: no-repeat;
        float: left;
      }
    }
  }
}


.block-views-product-category-blocks-block {
  h2 {
    background: #ff6300;
    padding: 10px;
    margin: 0 0 10px 0;
    color: #fff;
  }
  .views-row-odd {
    float: left;
  }
  .views-row-even {
    float: right;
  }
  .views-row {
    color: #fff;
    font-weight: bold;
    float: left;
    margin: 0 10px 0 0;
    position: relative;
    width: 49% !important;
    .views-field-name {
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      span::after {
        content: " +";
      }
      a:link, a:visited {
        color: #fff;
      }
    }
  }
  .views-row-last {
    margin: 0;
  }
}

.zone-postscript2-wrapper {
  background: #464646;
}

.block-webform-client-block-18, #block-multiblock-1 {
  h2 {
    color: #fff;
    padding-top: 10px;
    font-size: 30px;
  }

  .webform-component--name, .webform-component--phone, .webform-component--e-mail {
    input {
      width: 97% !important;
    }
  }

  .form-actions {
    input {
      background: #c8c8c8;
      border: none;
      width: 100%;
      padding: 15px 0;
      text-transform: lowercase;
      font-size: 30px;
    }
  }

  .form-item {
    input, textarea {
      background: #959595;
      border: none;
      padding: 10px 17px;
    }
    label {
      padding: 7px 10px;
      color: #fff;
      font-weight: normal !important;
      text-transform: lowercase;
    }
  }
}

#block-multiblock-1 {
  .webform-component--name, .webform-component--phone, .webform-component--e-mail {
    input {
      width: 97% !important;
    }
  }
  .form-item {
    input, textarea {
      background: #959595;
      border: none;
      padding: 10px 13px !important;
    }
    label {
      padding: 7px 10px;
      color: #fff;
      font-weight: normal !important;
      text-transform: lowercase;
    }
  }
}

.region-postscript-second {
  .block {
    position: relative;
    float: left;
    margin-top: 7px;
    h2 {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background: rgba(0,0,0,0.5);
      color: #fff;
      text-transform: lowercase;
      font-size: 17px;

      &::after {
        content: " +";
      }
    }
  }
}

.full-block-link {
  text-indent: -9999px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 1220px) {
  .region-postscript-second {
    .block-block-3 {
      width: 100% !important;
      margin-right: 7px;
      .front-sign-up {
        background-image: url("../images/sign-up.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 350px;
        text-indent: -9999px;
      }
    }
    .block-block-4 {
      width: 100% !important;
      .learn-about-fs {
        background-image: url("../images/about-image.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 350px;
        text-indent: -9999px;
      }
    }
  }
}

@media (min-width: 1220px) {
  .region-postscript-second {
    .block-block-3 {
      width: inherit !important;
      margin-right: 7px;
      .front-sign-up {
        background-image: url("../images/sign-up.png");
        width: 530px;
        height: 350px;
        text-indent: -9999px;

      }
    }
    .block-block-4 {
      width: inherit !important;
      .learn-about-fs {
        background-image: url("../images/about-image.png");
        width: 643px;
        height: 350px;
        text-indent: -9999px;
      }
    }
  }
}

.region-sidebar-first {
  .block-block-6 {
    font-size: 21px;
    margin: 0 0 10px 0;
  }
}

.block-menu-user-menu {
  .content {
    ul.menu {
      li.first {
      border-right: 1px solid #2d2d2d;
      }
      li {
        a {
          color: #2d2d2d;
        }
      }
    }
  }
}

.block-shopping-cart-block {
  .content {
    background-color: transparent;
    background-image: url("../images/shopping-cart-icon.png");
    padding-left: 30px;
    .view-shopping-cart {
      .line-item-summary {
      margin: 0 0 0 7px;
      background: #2d2d2d;
      padding: 0 0 0 10px;
        ul.links {
          background-color: #000000;
        }
        .line-item-total-raw {
          color: #fff;
        }
        .line-item-quantity {
          color: #fff;
        }
      }
    }
  }
}

#block-views-exp-display-products-page {
  .views-exposed-widgets {
    float: initial;
    margin-right: initial;
    width: initial;
    .views-submit-button {
      right: 0;
      top: 2px;
      .form-submit {
        text-indent: 0;
        background-image: none;
        background-color: #2d2d2d;
        color: #fff;
        padding: 13px 29px 13px 32px;
        font-size: 18px;
      }
    }
  }
}

#block-views-exp-display-products-page {
  .form-text {
    padding: 5px 12px 5px 17px;
    font-size: 14px;
    font-weight: 300;
  }
}

#block-views-product-tabs-content-block {
  margin-top: 25px;
  .quicktabs-wrapper {
    li {
      margin-left: 0;
      padding: 0;
      a {
        background: #e7e7e7;
        color: #000;
        padding: 5px 20px 12px 20px;
        border-bottom: 1px solid #c8c8c8;
      }

      &.active {
        a {
          background: #ff6300 !important;
          color: #fff !important;
        }
      }
    }
  }
}

.quicktabs_main {
  border: 1px solid #c8c8c8;
  padding: 10px 15px;
}

.node-product-display {
  .field-name-body {
    span.read-more a {
      text-align: left;
    }
  }

	.commerce-product-extra-field-sku {
		.commerce-product-sku {
			font-size: 20px;
			margin-bottom: 20px;
			color: #000;

			.commerce-product-sku-label {
				font-weight: 700;
			}
		}
	}

  .field-name-field-manufacturer {
    .field-label {

    }
    .field-item a {

    }
  }

  .field-name-field-product {
    background: none;
    .form-item-attributes-product-select {
      label {
        float: left !important;
        width: 13% !important;
        padding: 5px 10px;
        background: #000;
        color: #fff;
        font-size: 13px;
        margin-right: 0 !important;

        &::after {
          display: none;
        }
      }
      select.form-select {
        width: 308px !important;
        text-align: center !important;
        margin-top: 0;
        margin-bottom: 0;
        padding: 6px 10px;
      }
    }
    .form-item-attributes-field-size {
      label {
        float: left !important;
        width: 7% !important;
        padding: 5px 10px;
        background: #000;
        color: #fff;
        font-size: 13px;
        margin-right: 0 !important;

        &::after {
          display: none;
        }
      }
      select.form-select {
        width: 100px !important;
        text-align: center !important;
        margin-top: 0;
        margin-bottom: 0;
        padding: 6px 10px;
      }
    }
    .form-item-quantity {
      span.ui-widget {
        display: none;
      }
      label {
        float: left !important;
        width: 24% !important;
        padding: 5px 10px;
        background: #000;
        color: #fff;
        font-size: 13px;
        margin-right: 0 !important;

        &::after {
          display: none;
        }
      }
      input {
        width: 15px !important;
        text-align: center !important;
        margin-top: 0;
        margin-bottom: 0;
        padding: 6px 10px;
      }
    }
    form.commerce-add-to-cart {
      background: none;

      input.form-submit {
        background: #0065ff;
        border-radius: inherit;
        padding: 5px 25px;
        text-transform: lowercase;
        margin-left: 0;
        margin-top: 0;
      }
    }
  }

  h2.field-name-title-field {
    font-weight: 100;
    border-bottom: 3px solid #ff6300;
  }

  .commerce-product-field {
    .field-name-commerce-price {
      .field-item {
        color: #ff6300;
      }
    }
  }
}

.node-product-display-full {
   .commerce-product-field-field-images {
    #wrap {
      z-index: inherit !important;
    }
  }

  .commerce-product-field {
    .field-name-commerce-price {
      .field-item {
        &::before {
          content: 'Your Price : ';
        }
      }
    }
  }
}

.page-node-1 {
  #region-content {
    #block-system-main {
      width: 134%;
      article {
        margin: 0;
        .field-name-body {
          iframe {
            width: 100% !important;
          }
        }
      }
    }
  }
}
@media (max-width: 1220px) {
  #zone-postscript {
    .region-postscript-first-inner {
      .view-product-category-blocks {
        .views-row {
          .field-item img {
            width: 148px;
          }
        }
      }
    }
  }
}
@media (max-width: 980px) {
  #zone-postscript {
    .region-postscript-first-inner {
      .view-product-category-blocks {
        .views-row {
          .field-item img {
            width: 108px;
          }
        }
      }
    }
  }
}

#region-branding {
  .branding-data {
    padding: 0 10px;
    .logo-img {
      a {
        float: left;
        width: 334px;
      }
    }
  }
}

#block-menu-menu-user-menu {
  float: right;
}

.page-checkout {
	#commerce-checkout-form-checkout {
		#customer-profile-shipping-ajax-wrapper {
			#customer-profile-shipping-field-po-number-add-more-wrapper {
				label {
					width: 8%;
				}
			}
		}
	}
}

.page-user-register {
	#user-register-form {
		fieldset#edit-profile-main {
			padding-left: 30px;
			padding-top: 45px;

			legend {
				display: none;
			}
		}
	}
}

.not-logged-in {
	.view-display-products, .node-product-display {
		.commerce-product-field-commerce-price {
			display: none;
		}

		.field-name-field-manufacturer {
			display: none;
		}

		input.form-submit {
			display: none;
		}
	}
}

.not-logged-in {
	.view-display-products {
		li.views-row {
			article {
				height: 380px !important;
			}
		}
	}
}

.not-logged-in {
	.node-product-display {
		.field-name-field-special-pricing {
			.field-label {
				display: none;
			}

			.field-item a {
				font-weight: bold;
				font-size: 18px;
				background: #ff6300;
				padding: 10px;
				border-radius: 2px 2px 0 0;
				color: #fff;
			}
		}
	}
}

.not-logged-in {
	#block-views-product-tabs-content-block {
        	display: none;
	}
	.node-product-display {
		.commerce-product-sku {
			display: none;
		}
	}
}

.logged-in {
	#block-block-8 {
                display: none;
        }
	.node-product-display {
		.field-name-field-special-pricing {
			display: none;
		}
	}
}

@media (min-width: 320px) and (max-width: 359px) {
	header#section-header {
		.top-phone-wrapper {
			float: right;
			width: 100%;
		}
	}

	#region-user-second {
		width: 80%;

		.commerce-ajax-cart-processed-processed {
			width: 100%;
			float: none;
		}
	}

	#zone-menu-wrapper {
		text-align: center;

		.block-block-8 {
			margin-bottom: 20px;
			width: 85%;
		}
	}

	.front {
		.zone-header-wrapper {
			display: none;
		}
	}

	.block-views-product-category-blocks-block {
		.views-row {
			width: 100% !important;

			.field-item {
				img {
					width: 100% !important;
				}
			}
		}
	}

	.block-webform-client-block-18 {
		h2 {
			text-align: center;
		}

		.form-item {
			input {
				width: 89% !important;
			}
		}
	}
}

@media (min-width: 360px) and (max-width: 374px) {
	header#section-header {
		.top-phone-wrapper {
			float: right;
			width: 100%;
		}
	}

	#region-user-second {
		width: 80%;

		.commerce-ajax-cart-processed-processed {
			width: 100%;
			float: none;
		}
	}

	#zone-menu-wrapper {
		text-align: center;

		.block-block-8 {
			margin-bottom: 20px;
			width: 85%;
		}
	}

	.front {
		.zone-header-wrapper {
			display: none;
		}
	}

	.block-views-product-category-blocks-block {
		.views-row {
			width: 100% !important;

			.field-item {
				img {
					width: 100% !important;
				}
			}
		}
	}

	.block-webform-client-block-18 {
		h2 {
			text-align: center;
		}

		.form-item {
			input {
				width: 89% !important;
			}
		}
	}
}

@media (min-width: 375px) and (max-width: 410px) {
	header#section-header {
		.top-phone-wrapper {
			float: right;
			width: 100%;
		}
	}

	#region-user-second {
		width: 80%;

		.commerce-ajax-cart-processed-processed {
			width: 100%;
			float: none;
		}
	}

	#zone-menu-wrapper {
		text-align: center;

		.block-block-8 {
			margin-bottom: 20px;
			width: 85%;
		}
	}

	.front {
		.zone-header-wrapper {
			display: none;
		}
	}

	.block-views-product-category-blocks-block {
		.views-row {
			width: 100% !important;

			.field-item {
				img {
					width: 100% !important;
				}
			}
		}
	}

	.block-webform-client-block-18 {
		h2 {
			text-align: center;
		}

		.form-item {
			input {
				width: 89% !important;
			}
		}
	}
}

@media (min-width: 411px) and (max-width: 434px) {
	header#section-header {
		.top-phone-wrapper {
			float: right;
			width: 100%;
		}
	}

	#region-user-second {
		width: 80%;

		.commerce-ajax-cart-processed-processed {
			width: 100%;
			float: none;
		}
	}

	#region-user-first {
		#block-block-1 {
			width: 100%;
		}
	}

	#zone-menu-wrapper {
		text-align: center;

		.block-block-8 {
			margin-bottom: 20px;
			width: 85%;
		}
	}

	.front {
		.zone-header-wrapper {
			display: none;
		}
	}

	.block-views-product-category-blocks-block {
		.views-row {
			width: 100% !important;

			.field-item {
				img {
					width: 100% !important;
				}
			}
		}
	}

	.block-webform-client-block-18 {
		h2 {
			text-align: center;
		}

		.form-item {
			input {
				width: 89% !important;
			}
		}
	}
}

@media (min-width: 435px) and (max-width: 437px) {
	header#section-header {
		.top-phone-wrapper {
			float: right;
			width: 100%;
		}
	}

	#region-user-second {
		width: 80%;

		.commerce-ajax-cart-processed-processed {
			width: 100%;
			float: none;
		}
	}

	#region-user-first {
		#block-block-1 {
			width: 100%;
		}
	}

	#zone-menu-wrapper {
		text-align: center;

		.block-block-8 {
			margin-bottom: 20px;
			width: 85%;
		}
	}

	.front {
		.zone-header-wrapper {
			display: none;
		}
	}

	.block-views-product-category-blocks-block {
		.views-row {
			width: 100% !important;

			.field-item {
				img {
					width: 100% !important;
				}
			}
		}
	}

	.block-webform-client-block-18 {
		h2 {
			text-align: center;
		}

		.form-item {
			input {
				width: 89% !important;
			}
		}
	}
}

.view-display-products .more-link {
  display: none;
}
.view-certificates table {
    width: 100%;
}
